**1) Для заданного целого числа n выполнить следующие условные действия:**

Если n нечетно, выведите Astana

Если n чётно и находится в диапазоне от 2 до 5, выведите Алматы

Если n чётно и находится в диапазоне от 6 до 20 включительно, выведите Astana

Если n чётно и больше 20, выведите Алматы

In [4]:
n=int(input("Назовите целое число: "))
if n%2==1 or n%2==0 and 6<=n<=20:
    print("Astana")
elif n%2==0 and 2<n<5 or n>20:
        print("Almaty")

Назовите целое число: 15
Astana

**2) Дано целое число n. Для всех неотрицательных целых чисел i <n, выведите квадрат числа i.**

In [5]:
n=int(input("Назовите число: "))
for i in range(n):
    i=i**2
    print(i,end=" ")

Назовите число: 23
0 1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 400 441 484

**3) Дано целое число n.**

Не используя строковые методы, попробуйте напечатать следующее:

<code>123.....n</code>

Обратите внимание, что <code> ... </code> представляет значения между ними.

In [6]:
n=int(input("Назовите число: "))
for i in range(1,n):
    print(i,end= "")

Назовите число: 12
1234567891011

**4) Какова сумма первых 10 натуральных чисел?**

In [7]:
thesum = 0
for i in range(10):
    thesum=thesum+i
print("Сумма натуральных чисел =",thesum)

Сумма натуральных чисел = 45

**5) Напишите программу на Python, которая принимает радиус круга от пользователя и вычисляет площадь.**

**Tip**: <code>from math import pi</code>

In [8]:
R = int(input("Напишите радиус круга = "))
S=3.14*R**2
print("Радиус круга = {}" .format(S))

Напишите радиус круга = 23
Радиус круга = 1661.0600000000002

**6)  Напишите программу на Python, чтобы получить объем сферы с радиусом 7.**

In [9]:
V=4/3*3.14*R**3
R=7
print("Объем сферы =",V,"М3")

Объем сферы = 50939.17333333333 М3

**7) Напишите программу на Python, которая принимает целое число n и вычисляет значение n + nn + nnn. (nn-двузначное число)**

In [11]:
n=int(input("Write the number"))
n2=str(n)+str(n)
n3=str(n)+str(n)+str(n)
sum=n+int(n2)+int(n3)
print(sum)

Write the number13
132639

**8) Напишите программу на Python, которая примет основание и высоту треугольника и вычислит площадь.**

In [ ]:
a=int(input("Напишите основание треугольника :"))
h=int(input("Высота?: "))
S=1/2*a*h
print(S)

**9) Напишите программу на Python для преобразования высоты (в футах и дюймах) в сантиметры.**

In [ ]:
inch=int(input("The Lengh of inch"))
ft=int(input("The Lengh of ft"))
cm1=int(inch)*2,54
cm2=int(ft)*30,48
print("Inch to cm=",cm1,",""ft to cm=",cm2)

**10) Напишите программу на Python для вычисления расстояния между точками (x1, y1) и (x2, y2).**

In [ ]:
x1=int(input("Назовите число х1: "))
x2=int(input("Назовите число х2: "))
y1=int(input("Назовите число y1: "))
y2=int(input("Назовите число y2: "))
AA=((int(x2)-int(x1))**2+(int(y2)-int(y1))**2)**0.5
print("Расстояния между точками (x1, y1) и (x2, y2): ",AA)

**11) Напишите программу на Python для вычисления гипотенузы прямоугольного треугольника.**

In [ ]:
a=int(input("Назовите число катетa a : "))
b=int(input("Назовите число катета b : "))
c=float((int(a)**2+int(b)**2)**0.5)
print("Гипотенуза равен = ",c)

**12) Сколько натуральных чисел не больше 100 делиться на 7 и на 2?**

In [ ]:
sum=0
for i in range(1,100):
    if i%7==0 and i%2==0:
        sum +=1
print(sum)

# Прекрасная работа!