1) Используйте for, .split() и if для создания оператора, который будет печатать слова, начинающиеся с 't':

In [ ]:
st = 'Print only the words that start with t in this sentence'
st1=st.split()
for elem in st1:
    if elem[0]=="t":
        print(elem,end =", ")

2) Используйте range() для печати всех четных чисел от 0 до 10.(не использовать операторы for, while,if)

In [102]:
even=list(range(2,10,2))
print(even)

[2, 4, 6, 8]

3) Cоздайте **список** всех чисел от 1 до 50, которые делятся на 3.(именно список)

In [103]:
list_of_num1=[]
for i in range(1,50):
    if i%3==0:
        list_of_num1.append(i)
print(list_of_num1)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

4) Просмотрите строку ниже и, если длина слова четная, выведите «четное!»

In [4]:
st1 = 'Print every word in this sentence that has an even number of letters'
st1_word=st1.split()
for even in st1_word:
    if len(even)%2==0:
        print(even,":  Четное")

word :  Четное
in :  Четное
this :  Четное
sentence :  Четное
that :  Четное
an :  Четное
even :  Четное
number :  Четное
of :  Четное

5) Создайте список первых букв каждого слова в строке ниже:

In [17]:
st2_words=[]
st2 = 'Create a list of the first letters of every word in this string'
st2_each=st2.split()
for capitals in st2_each:
    st2_words.append(capitals[0])
print(st2_words)

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

6) Найдите сумму чисел в списке ниже: (с двумя способами)

In [115]:
sum=0
l = [1,2,3,4,5,6,7,8,9,10]
for num in l:
    sum=sum+num
print("The amount of numbers are: ",sum)

The amount of numbers are:  55

In [116]:
l = [1,2,3,4,5,6,7,8,9,10]
def numsum(l):
    if len(l)==1:
        return l[0]
    else:
        return l[0]+numsum(l[1:])
print("The amount of numbers are: ",numsum(l))

The amount of numbers are:  55

7) Напишите программу на Python, чтобы умножить все элементы в списке.

In [117]:
mult=1
l = [2,5,7,3,9]
for num2 in l:
    mult=mult*num2
print(mult)

1890

8) Напишите программу на Python, чтобы получить наибольшее число из списка.

In [118]:
l = [2,5,7,3,9,11,50,101]
l.sort(reverse=True)
l[0]

101

In [5]:
l = [2,5,7,3,9,11,50,101]
for i in range(len(l)-1):
    for j in range(i+1,len(l)):
        if l[i]<l[j]:
            l[i],l[j]=l[j],l[i]
print(l[0])

101

9) Напишите программу на Python, чтобы найти общие элементы из двух списков.

In [120]:
team_1 = ["Darkhan", "Abilay", "Azamat", "Zhasulan"]
team_2 = ["Azamat", "Darkhan", "Aset", "Bolat","Saken"]
set(team_1).intersection(team_2)

{'Azamat', 'Darkhan'}

10) Напишите программу на Python для расширения списка без .append().

In [121]:
l_1=[10,20,30]
l_2=[1,2,3,4,5,6]
l_1.extend(l_2)
print(l_1)
# Вывод должен быть: [10,20,30,1,2,3,4,5,6]
# Код

[10, 20, 30, 1, 2, 3, 4, 5, 6]

11) Напишите программу на Python для суммирования всех элементов в словаре.

In [135]:
sum1=0
my_dict = {'data1':100,'data2':-54,'data3':247}
for item in my_dict:
    sum1=my_dict[item]+sum1
print(sum1)

293

12) Напишите программу на Python, чтобы получить максимальное и минимальное значение в словаре.

In [156]:
list_of_dict=[]
my_dict = {'data1':100,'data2':-54,'data3':247}
for item in my_dict:
    list_of_item=my_dict[item]
    list_of_dict.append(list_of_item)
list_of_dict.sort(reverse=True)
print("Максимальное значение: ",list_of_dict[0])
list_of_dict.sort()
print("Минимальное значение: ",list_of_dict[0])

Максимальное значение:  247
Минимальное значение:  -54

13) Напишите программу на Python, чтобы найти те числа, которые делятся на 7 и кратны 5, между 1500 и 2700 (оба включены).

In [160]:
list_of_numbers=[]
for numbers in range(1500,2701):
    if numbers%7==0 and numbers%5==0:
        list_of_numbers.append(numbers)
print(list_of_numbers)

[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625, 2660, 2695]

14) Напишите программу на Python для подсчета количества четных и нечетных чисел из серии чисел.

In [17]:
sum_of_even=0
sum_of_odd=0
numbers = (10,11,12,13,14,15,16,17,18,19,20)
for even in numbers:
    if even%2==0:
        sum_of_even +=1
print("The amount of evens: ",sum_of_even)
for odd in numbers:
    if odd%2==1:
        sum_of_odd +=1
print("The amount of odds: ",sum_of_odd)

The amount of evens:  6
The amount of odds:  5

15) Напишите программу на Python, чтобы получить ряд Фибоначчи от 0 до 50.

In [10]:
fibonacci_num=[]
fib1=fib2=1
fib1=0
while fib2<50:
    fib1,fib2=fib2,fib1+fib2
    print(fib2,end =" ")

1 2 3 5 8 13 21 34 55

16) Напишите программу на Python для расчета возраста собаки по собачьим годам.(Для заданного числа 12, вывод должен быть 61 = 2x10.5+10x4)

**Примечание: в течение первых двух лет год собаки равен 10,5 человеческим годам. После этого каждый год собаки равен 4 человеческим годам.**

In [57]:
year_of_human=float(input("Write down the of human: "))
if year_of_human<=2:
    year_of_thehound=10.5/2*year_of_human
    print(year_of_thehound)
elif year_of_human>=2:
    year_of_thehound=10.5*2+4*(year_of_human-2)
    print(year_of_thehound)

Write down the of human: 12
61.0

17) Напишите программу на Python для преобразования названия месяца в количество дней.

In [ ]:
#I do not know how much correctly I understood the meaning of the task
q_day=str(input("Write down the name of month: "))
if q_day=="January":
    q_day=31
    print(q_day)
elif q_day=="February":
    q_day=29
    print(q_day)
elif q_day=="March":
    q_day=31
    print(q_day)
elif q_day=="April":
    q_day=30
    print(q_day)
elif q_day=="May":
    q_day=30  
    print(q_day)
elif q_day=="June":
    q_day=30 
    print(q_day)
elif q_day=="July":
    q_day=31
    print(q_day)
elif q_day=="August":
    q_day=31 
    print(q_day)
elif q_day=="September":
    q_day=30
    print(q_day)
elif q_day=="October":
    q_day=31
    print(q_day)
elif q_day=="November":
    q_day=30 
    print(q_day)
elif q_day=="December":
    q_day=31 
    print(q_day)
else:
    print("No such month")

18) Проверьте является ли слово палиндромом или нет. 

**Примечание: Строка считается палиндромом, если она читается одинаково в обоих направлениях.**

In [71]:
word = "aibohphobia"
polyword=word[::-1]
word==polyword

True

19) Рядом стоят несколько студентов, у каждого из которых написано какое-то число на спине. Учащиеся собираются разделиться на две команды, отсчитав их по две: те, кто стоит на четных позициях (на основе 0), перейдут в команду А, а те, кто стоит на нечетной позиции, присоединятся к команде В.

Ваша задача - вычислить разницу между суммами чисел, написанными на спинах студентов, которые присоединятся к команде А, и теми, которые написаны на спинах студентов, которые присоединятся к команде Б.

In [20]:
sum_of_even=0
sum_of_odd=0
students = [1, 11, 13, 6, 14, 10, 23, 25, 16, 23, 30,9]
n=2
x=[students[i:i + n] for i in range(0,len(students),n)]
for a in x:
    sum_of_even=sum_of_even+a[0]
    sum_of_odd=sum_of_odd+a[1]
print("A group: ",sum_of_even)
print("B group: ",sum_of_odd)
diff=abs(sum_of_even-sum_of_odd)
print("The difference between A and B is: ",diff)

A group:  97
B group:  84
The difference between A and B is:  13

20) Напишите программу на Python, чтобы найти числа от 100 до 400 (оба включены), где каждая цифра числа является четным числом. Полученные числа должны быть напечатаны в последовательности через запятую.

In [9]:
list_of_num20=[]
for num20 in range(100,401):
    digits = [int(x) for x in str(num20)]
    if digits[2]%2==0 and digits[1]%2==0 and digits[0]%2==0:
        def convert(digits):
            s = [str(i) for i in digits]
            res=int("".join(s))
            return(res)
        print(convert(digits),end =",")

200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288,400,

# Прекрасная работа!